services:
  db:
    image: postgis/postgis:15-3.5
    ports:
      - "5432:5432"
    env_file:
      - .env

  web:
    build:
      context: .
    image: ninjaodm:v1.0
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - GUNICORN_WORKERS=4
      - DATABASE_URL=postgis://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
